FFmpegLibrary/jni/ffmpeg-build/**
FFmpegLibrary/bin/**
FFmpegLibrary/local.properties
FFmpegLibrary/gen/**
FFmpegLibrary/tmp/**
FFmpegLibrary/obj/**
FFmpegLibrary/libs/**
FFmpegLibrary/proguard/**
FFmpegLibrary/.settings/**
FFmpegLibrary/jni/.settings/**
FFmpegLibrary/lint.xml

FFmpegExample/*
FFmpegExample

.cproject
.classpath
.project
*.tmp
*.bak
*.swp
*.launch
**/.DS_Store
*.DS_Store
