[submodule "FFmpegLibrary/jni/libass"]
	path = FFmpegLibrary/jni/libass
	url = https://code.google.com/p/libass/
[submodule "FFmpegLibrary/jni/freetype2"]
	path = FFmpegLibrary/jni/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
[submodule "FFmpegLibrary/jni/x264"]
	path = FFmpegLibrary/jni/x264
	url = git://git.videolan.org/x264.git
[submodule "FFmpegLibrary/jni/vo-aacenc"]
	path = FFmpegLibrary/jni/vo-aacenc
	url = git://opencore-amr.git.sourceforge.net/gitroot/opencore-amr/vo-aacenc
[submodule "FFmpegLibrary/jni/vo-amrwbenc"]
	path = FFmpegLibrary/jni/vo-amrwbenc
	url = git://opencore-amr.git.sourceforge.net/gitroot/opencore-amr/vo-amrwbenc
[submodule "FFmpegLibrary/jni/tropicssl"]
	path = FFmpegLibrary/jni/tropicssl
	url = git://gitorious.org/tropicssl/tropicssl.git
[submodule "FFmpegLibrary/jni/fribidi"]
	path = FFmpegLibrary/jni/fribidi
	url = git://anongit.freedesktop.org/fribidi/fribidi
[submodule "FFmpegLibrary/jni/rtmpdump"]
	path = FFmpegLibrary/jni/rtmpdump
	url = git://git.ffmpeg.org/rtmpdump
[submodule "FFmpegLibrary/jni/fdk-aac"]
	path = FFmpegLibrary/jni/fdk-aac
	url = git://github.com/mstorsjo/fdk-aac.git
[submodule "FFmpegLibrary/jni/ffmpeg"]
	path = FFmpegLibrary/jni/ffmpeg
	url = http://git.videolan.org/git/ffmpeg.git
